<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @city.country_id %>
</p>

<p>
  <strong>Cit:</strong>
  <%= @city.cit %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
